
body {background: rgb(250, 215, 245)}
#vanderson {width: 100%;}
h1 {text-align: center;}
h3 {text-align: center;}
p {font-size: 18px; margin: 40px;}
ul {font-size: 20px;} 
#link {color: blue;}
